@font-face {
    font-family: 'Borel';
    src: url('/fonts/Borel-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #F7D6D0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

h1 {
    font-family: 'Borel', sans-serif;
    color: #4A4A4A;
}
